// Cores
$corLogo: #f3f30f;
$corDeFundo: #040714;
$corTexto: #ffffff;
$corTitulo: #aaa701;
$corFAQ: #13151d;

// Fontes
$fonteLogo: 'Nosifer', sans-serif;
$fonteLinks: 'Sedgwick Ave Display', cursive;
$fonteTitulo: 'Young Serif', serif;
$fonteBotao: 'Roboto', sans-serif;